$max_pixels: 200px;
.container {
  padding: 0px 10px 10px 10px;
}

%section { 
  padding-top: $max_pixels;
}

nav {
  background-color: #FEFFFD;
}

.intro {
  background-color: #29454F;
  height: 95vh;
}

.dino, .fossil {
  @extend %section;
}

.fossil {
  padding-bottom: $max_pixels / 2;
}

.card-link {
  float: right;
}

.card-img {
  height: $max_pixels;
}

.sec-box {
  height: 100vh;
}

.sec-box img {
  height: $max_pixels * 2;
}

.p-title {
  padding-bottom: $max_pixels / 10;
}

.quote {
  padding-top: $max_pixels / 20;
  border: none;
}

h2, h4 {
  padding-top: $max_pixels / 10;
  padding-bottom: $max_pixels / 10;
}

#mold {
  height: 235.5px;
}

.g-item {
  height: $max_pixels;
  width: 287px;
}

.gallery {
  padding: $max_pixels / 10;
}

.alternative-info {
  display: none;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1030px) {
  .alternative-info {
    display: block;
    margin-top: 20px;
  }

  .info {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .alternative-info {
    display: block;
    margin-top: 20px;
  }

  .info {
    display: none;
  }

  .dino, .fossil {
    padding-top: 0px;
  }

  .fossil {
    padding-bottom: 0px;
  }
}

footer {
  padding-top: 100px;

  ul {
    list-style: none;
    
    li {
      display: inline-block;
    }
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .alternative-info {
    display: block;
    margin-top: 20px;
  }

  .info {
    display: none;
  }

  .dino, .fossil {
    padding-top: 0px;
  }

  .fossil {
    padding-bottom: 0px;
  }
}

